
//  Colors  //
$black: #191919;
$gray: #f3f3f5;
$green: #c0e8dd;
$red: #fd69ea;
$blue: #d2d5ea;
$purp: #d29fbb;
$white: white;

// Fonts //
@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Serif');
$para-font: 'PT Serif', serif;
$header-font: 'Nunito', sans-serif;

// Main Styles //
body, h1, h3, h4 {
font-family: $header-font;
color: $black !important;
}

h1 {
font-size: 25px;
}

h2 {
font-size: 18px;
font-family: $para-font;
color: $black !important;
}

h3 {

}

h4 {
font-size: 13px;
}

p {
font-family: $para-font;
}

.nav-wrapper {
background-color: $white !important;
margin-top: 2em;
}

.deina{
font-family: $para-font !important;
font-size: 22px !important;
color: $black !important;
text-decoration: none !important;
}

nav ul li a{
font-family: $header-font !important;
color: $black !important;
font-size: 11px !important;
padding: 0 10px !important;
}

nav ul li:hover{
    background-color: $white !important;
    }
nav ul li a:hover{
    background-color: $white !important;
}


a {
color: $black;
}

.bag {
    height: 25px;
    width: 25px;
    margin-top: 15px;
}

.main {
    background-color: $gray;
    height: 600px;
    width: 85%;
    margin-top: 2em;
}

.content {
    margin-top: 2em;
}
.contentNav{
 padding-top:6em;
}
.contentNav li {
    display: inline-block;
    font-family: $para-font;
}